
/* Fonts */
/* Regular */
@font-face {
    font-family: 'HelveticaCustom';
    src: url('/fonts/helvetica/Helvetica.ttf') format('truetype');
    font-style: normal;
    font-weight: normal; 
}

/* Bold */
@font-face {
    font-family: 'HelveticaCustom';
    src: url('/fonts/helvetica/Helvetica-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;  
}

/* Extra Bold */
@font-face {
    font-family: 'HelveticaCustom';
    src: url('/fonts/helvetica/Helvetica-Bold.ttf') format('opentype');
    font-style: normal;
    font-weight: bolder; 
}

/* Light */
@font-face {
    font-family: 'HelveticaCustom';
    src: url('/fonts/helvetica/Helvetica Light Regular.otf') format('opentype');
    font-style: normal;
    font-weight: lighter;
}




/* Color Pallette */
:root {
    --color-lime: #CFF500;
    --color-light-black: #525252;
    --color-light-gray: #fffefd;
    --color-middle-gray: #b3b3b3;
    --color-dark-gray: #969794;
    --color-black: #151515;
    --color-white: #FFFFFF;


    --color-red: #F23322;
    --color-green: #06b606;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'HelveticaCustom', 'Helvetica', Arial, sans-serif !important;
    line-height: 1.2;
    background-color: var(--color-light-gray);
    color: var(--color-light-black);
    -webkit-tap-highlight-color: transparent; /* removes blue flash on mobile */
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    font-family: 'HelveticaCustom', 'Helvetica', Arial, sans-serif !important;
    -webkit-text-fill-color: var(--color-light-black) !important;
    box-shadow: 0 0 0px 1000px var(--color-white) inset !important;
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
}

*:focus,
*:focus-visible,
*:active {
  outline: none !important;
  box-shadow: none !important;
}

button:focus,
button:focus-visible,
.arrow-btn:focus,
.arrow-btn:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}


h1 {
    text-align: center;
    color: var(--color-light-black);
    font-size: 23px;
}

h2 {
    text-align: center;
    color: var(--color-light-black);
    font-size: 18px;
}

.page {
    display: none;
    width: 100%;
    height: calc(100vh - 60px);
    overflow-y: hidden;
    box-sizing: border-box;
}

.page.active {
    display: block;
}


.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  padding: 14px 24px;
  background-color: transparent;
  z-index: 1;
}

/* wrapper for logo + title */
.top-bar-left {
  display: flex;
  align-items: center;
  gap: 8px; /* space between logo and title */
}

.top-logo {
    height: 31px;
    padding-bottom: 7px;
}

.top-bar-title {
  font-size: 18px;
  font-weight: bold;
  font-family: 'HelveticaCustom', Arial, sans-serif;
  color: var(--color-light-black);
}


.container {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    padding: 10px;
    padding-bottom: 60px;  
    overflow: hidden;
    padding-top: 76px; 
}



/*////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////         REGISTER          /////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////*/
#page-register {
  display: none;
  flex-direction: column;
  justify-content: flex-start;  /* align at the top */
  align-items: center;          /* keep it centered horizontally */
  height: 100vh;
  padding-top: 30px;  
}

#page-register input {
    width: 100%;
    padding: 18px 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 15px;
    color: var(--color-light-black);
}

#page-register button {
    font-size: 16px;
    font-weight: bold;
    color: var(--color-light-black);
    background-color: var(--color-lime);
    padding: 18px 70px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#page-register button:hover {
    background-color: var(--color-light-black);
    color: var(--color-light-gray);
}

.success-message {
    color: var(--color-green);
    background-color: var(--color-light-gray);
    border: 1px solid var(--color-green);
    padding: 8px 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}


/*////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////           LOGIN           /////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////*/
#page-login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  /* align at the top */
  align-items: center;          /* keep it centered horizontally */
  height: 100vh;
  padding-top: 30px;  

}

.login-box {
    background: var(--color-light-gray);
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.0);
    width: 90%;
    max-width: 400px;
    text-align: center;
    font-family: 'HelveticaCustom';
}

.login-logo {
    width: 65px;           
    margin-bottom: 4px;   
    display: block;    
    margin-left: 0;
}

.login-box h4 {
    font-size: 16px;
    color: var(--color-light-black);
    margin-bottom: 60px;
    text-align: left;
}

.login-box h1 {
    font-family: 'HelveticaCustom';
    font-size: 40px;
    font-weight: bold;
    color: var(--color-light-black);
    margin-bottom: 2px;
    text-align: left;
    font-family: 'HelveticaCustom';
    font-weight: bolder;    
}

.login-box h2 {
    font-size: 30px;
    color: var(--color-light-black);
    margin-bottom: 16px;
    text-align: left;
}

.login-box h3 {
    font-size: 14px;
    color: var(--color-dark-gray);
    margin-bottom: 36px;
    text-align: left;
    padding-right: 30px;
    font-weight: normal;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 14px 18px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    color: var(--color-light-black);
    font-weight: normal;
}

.login-box button {
    font-size: 16px;
    font-weight: bold;
    color: var(--color-light-black);
    background-color: var(--color-lime);
    padding: 16px 70px;
    width:100%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
}

.login-box button:hover {
    background-color: var(--color-light-black);
    color: var(--color-light-gray);
}

.login-box p {
    font-size: 14px;
    color: var(--color-dark-gray);
    margin-top: 20px;
}

.login-box a {
    color: var(--color-light-black);
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}

#menu-bar {
  display: none; 
}



input:focus, textarea:focus {
    outline: none !important;
    border: 1.5px solid var(--color-light-black) !important;   
    box-shadow: none;
    background-color: transparent !important;
    -webkit-box-shadow: none;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


/*////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////       MENU (top)        /////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////*/
.user-menu {
  position: relative;
  display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--color-light-gray);
    min-width: 120px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    z-index: 999;
    border-radius: 20px;
    overflow: hidden;
}

.dropdown-content a {
    font-size: 14px;
    color: var(--color-dark-gray);
    background-color: var(--color-light-gray);
    padding: 11px 34px;
    text-decoration: none;
    display: block;
    border: 1px solid var(--color-light-gray);
    border-radius: 20px;
    outline: none;
    box-shadow: none;

}

.dropdown-content a:hover {
  background-color: var(--color-light-gray);
}

.user-menu.show .dropdown-content {
  display: block;
}



/*////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////       MENU (botom)        /////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////*/
.menu-bar {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    background: var(--color-light-gray);
    display: flex;
    justify-content: space-around;
    padding: 10px 18px;
    margin-top: 15px;
    border-top: 0px solid var(--color-middle-gray);
    border-radius: 0px;
}

.menu-bar button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    background-color: transparent;
    border: none;
}

.menu-text {
    font-size: 16px;
    color: var(--color-dark-gray);
    font-weight: normal;
}

.menu-bar button i {
    color: var(--color-dark-gray);
    font-size: 22px;
    transition: all 0.3s ease;
}


.menu-bar button.active i,
.menu-bar button.active .menu-text {
    color: var(--color-black);
}




/*////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////         PAGE 1          ///////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////*/
#greeting {
    font-family: 'HelveticaCustom';
    font-size: 38px;
    font-weight: bold;
    color: var(--color-light-black);
    padding: 0px 15px 0 0;
    margin-bottom: 22px;
    text-align: left;
    line-height: 1;

}

.user-dialog-container {
    height: auto;            
    flex-shrink: 0;         
    overflow: hidden;         
    padding: 10px 14px; 
    box-sizing: border-box;  
}

textarea {
    width: 100%;
    border: 1px solid var(--color-middle-gray);
    border-radius: 20px;
    resize: vertical;
    box-sizing: border-box;
    padding: 20px 20px 20px 20px!important;
    margin: 2px auto;
    margin-top: 2px;
    display: block;
}


#userInput {
    font-family: 'HelveticaCustom';
    font-size: 18px;
    font-weight: normal;
    padding-top: 16px;
    padding-bottom: 0px;
    color: var(--color-light-black);
    line-height: 1.2;
}

input::placeholder,
textarea::placeholder {
    font-family: 'HelveticaCustom';
    font-size: 18px;
    font-weight: normal;
    color: var(--color-dark-gray);
}

.success-bg { 
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.error-bg {
    border: 1px solid var(--color-red) !important;  
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.fade-out {
    transition: background-color 1s ease-in-out;  
    background-color: transparent !important;
}



.button-container {
    display: flex;
    gap: 8px;  
    width: 100%;
    margin-top: 12px;
    margin-bottom: 10px;
}


.speak-btn {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-black);
    background-color: var(--color-light-gray);
    flex: 3;
    padding: 16px 0px;
    border: 1px solid var(--color-middle-gray);
    border-radius: 20px;
    cursor: pointer;
    margin: 0px;
    outline: none;
    box-shadow: none;
}

.speak-btn.recording {
    background-color: var(--color-light-black) !important;
    color: var(--color-light-gray) !important;
    font-size: 16px;
}

.speak-btn i {
  transition: color 0.3s;
}

.speak-btn.recording i {
  color: var(--color-red);
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0%   { opacity: 1;   transform: scale(1); }
  50%  { opacity: 0.5; transform: scale(1.2); }
  100% { opacity: 1;   transform: scale(1); }
}

.submit-btn {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-black);
    background-color: var(--color-lime);
    flex: 7;
    padding: 16px 0px;
    border: 1px solid var(--color-lime);
    border-radius: 20px;
    cursor: pointer;
    margin: 0px;
    outline: none; 
    box-shadow: none; 
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.submit-btn:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: var(--color-light-black) !important;
    color: var(--color-light-gray)!important;
    border: 1px solid rgb(204, 204, 204)!important;
}

.submit-btn:active {
    outline: none !important;
    box-shadow: none !important;
}

#loading-spinner {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#loading-spinner.show {
  display: inline-block;
  opacity: 1;
}


.month-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;   
    width: 100%;
    margin: 0 auto;      
    padding: 30px 14px 4px 14px;
    gap: 12px;
    font-size: 22px;
    font-weight: bold;
    color: var(--color-black);
}

.month-navigation button {
  flex: 0 0 auto;  
}

#currentMonthDisplay {
  flex: 1;
  text-align: center;  
}


  
#prevMonth {
margin-left: auto; 
}


.arrow-btn {
    font-size: 19px;
    font-weight: normal;
    color: var(--color-black);
    width: auto;
    padding: 14px 6px;
    border: 0px;
    border-radius: 20px;
    cursor: pointer;
    margin: 0px;
    outline: none;
    box-shadow: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
}


#expenseTable {
    flex-grow: 1;  
    margin: 0;
    padding-bottom: 70px;
    width: 100%;
    border-collapse: collapse;
    display: block;
    overflow-y: auto;
    max-height: calc(100vh - 150px);  
}


#expenseTable th, #expenseTable td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#expenseTable th {
    background-color: var(--color-light-gray);
    position: sticky;
    top: 0;
    z-index: 1;
}

#expenseTable tr:hover {
    background-color: var(--color-light-gray);
}

#expenseListDisplay {
    width: 100%;  
    display: block;  
    padding: 0 14px;
}

#expenseListDisplay tr {
    width: 100%;
    display: flex;  
    justify-content: space-between;  
}

#expenseListDisplay td {
    flex: 1;  
    padding: 12px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

.expense-list {
    width: 100%;
    margin-top: 1em;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.date-separator {
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin: 15px 0 10px 0;
    border-top: 1.5px solid #ddd;
    padding-top:25px;
}

.date-block {
    display: flex;
    align-items: center;
    gap: 10px;
}

.day-number {
    font-size: 22px;
    font-weight: bolder;
    color: var(--color-light-black);
    background-color: transparent;
    padding: 0px 15px;
    border-radius: 8px;
    text-align: center;
    min-width: 50px;
}

.day-details {
    display: flex;
    flex-direction: column;
    gap:3px;
}

.day-name {
    font-size: 16px;
    font-weight: bold;
    color: var(--color-light-black);
}

.month-year {
    font-size: 14px;
    color: var(--color-light-black);
}


.expense-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 12px 2px;
    border-radius: 20px;
    margin-bottom: 8px;
    background-color: var(--color-white);
    box-shadow: 0 12px 4px -6px rgba(52, 52, 52, 0.05);
    position: relative;
    z-index: 0;
}


.expense-item-icon {
    flex-shrink: 0;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0;
    margin:0;
    margin-right: 10px;
    font-size: 24px;
    color: var(--color-light-black);
}

.expense-item-left {
    font-size: 19px;
    font-weight: bold;
    color: var(--color-black); 
    width: 50%; 
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start; 
    gap: 0px;
}

.expense-item-middle {
    width: 40%; 
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-end; 
    gap: 0px;
}

.expense-item-right {
    width: 10%; 
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-end; 
}

.expense-item-right .fa-trash {
    font-size: 16px; 
    color: var(--color-light-black);
}

.expense-name {
    font-family: 'HelveticaCustom';
    font-size: 18px;
    font-weight: normal;
    color: var(--color-black);
}

.expense-category {
    font-size: 15px;
    font-weight: lighter;
    color: var(--color-dark-gray);
}

.expense-amount {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-black);
}

.expense-date {
    font-size: 15px;
    font-weight: lighter;
    color: var(--color-dark-gray);
}


.delete-btn {
    color: var(--color-light-black);
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
}

/*////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////         PAGE 2          ///////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////*/
#currentMonthStatsDisplay {
    text-align: left;
}
    
#prevMonthStats {
    margin-left: auto; 
}
    
#page2 .chart-legend {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

#page2 .chart-legend span {
    font-size: 12px;  
    color: var(--color-dark-gray);
    margin: 5px 10px;
    display: inline-block;
}



#categoryChart {
    width: 100% !important;
    height: auto !important;
    display: block;
    margin: 0 auto;
    margin-top: 0px;
    padding: 0;
}


.category-bars-title {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: normal;
    color: var(--color-light-black);
    padding: 10px 15px;
    border-bottom: 1px solid var(--color-middle-gray);
    margin-top: 0px;
    width:100%;
}

.left-title {
    text-align: left;
    flex: 1;
}

.right-title {
    text-align: right;
    flex: 1;
}

#category-bars {
    width:100%;
    margin-top: 20px;
    padding: 0 12px;
}

.category-bar {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.icon-label {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: lighter;
    color: var(--color-light-black);
    font-weight: 500;
    margin-bottom: -2px;
    
}

.amount {
    font-size: 14px;
    font-weight: lighter;
    color: var(--color-light-black);
}

.progress {
    background-color: var(--color-light-gray);
    height: 8px;
    border-radius: 20px !important;
    width: 100%;
    position: relative;
}

.progress-bar {
    height: 100%;   
    border-radius: 1px !important; 
}

.percentage {
    text-align: right;
    font-size: 14px;
    color: var(--color-dark-gray);
    margin-top: 5px;
}


/*////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////         PAGE 3          ///////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////*/

#page3 h2 {
    font-family: 'HelveticaCustom';
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 0px;
    color: var(--color-dark-gray);
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
    line-height: 1.3;
}

.chat-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--color-light-gray);
}

.chat-container {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  margin-bottom: 180px;    
  scroll-behavior: smooth;  
}

.chat-input-area {
  display: flex;
  padding: 10px;
  padding-bottom: 20px;
  background: var(--color-light-gray);
  border-top: 1px solid #ddd;
  position: fixed;     
  bottom: 70px;       
  left: 0;
  right: 0;
  z-index: 20;
}

.chat-input-area input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  resize: none;          
  overflow: hidden;      
  min-height: 40px;      
  max-height: 120px;     
  font-family: inherit;
  font-size: 16px;
}

.chat-input-area button {
  margin-left: 10px;
  margin-top: 15px;
  background: var(--color-lime);
  border: none;
  border-radius: 20px;
  width: 50px;
  height: 42px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.message {
    max-width: 75%;
    padding: 10px 14px;
    margin: 8px 0;
    border-radius: 20px;
    font-family: 'HelveticaCustom';
    font-size: 16px;
    color: var(--color-light-black);
    line-height: 1.2;
}

.user-message {
    background: var(--color-lime);
    color: var(--color-light-black);
    margin-left: auto;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.assistant-message { 
    background: var(--color-middle-gray);
    color: var(--color-light-black);
    margin-right: auto;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.typing {
    opacity: 0.7;
    font-style: italic;
}



/* Responsive design */
@media (max-width: 600px) {
    .container {
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .primary-btn {
        font-size: 23px;
        padding: 15px;
        width: 80%;
        margin: 5px auto;
        display: block;
    }

}
